.community-section {
    text-align: center;
    padding: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}


.toggle-btn {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #f7f7f7; 
    border: 2px solid red; 
    color: red;
    padding: 8px 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Source Sans Pro', sans-serif;
}

.toggle-btn:hover {
    background-color: #e0e0e0;
}


h1{
    font-weight:700;
    font-size:48px;
    line-height: 64px;
    max-width:460px;
    margin:50px auto;
    font-family: 'Oswald', sans-serif;
}

h2, h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    max-width:560px;
    margin:0 auto;
    margin-bottom: 70px;
    color:#666666;
}

h3{
    font-size: 16px;
    line-height: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    max-width: 900px; 
    margin: 2rem auto;
}

.card {
    flex: 1;
    border: 1px solid #e1e1e1; 
    padding: 4rem 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card h3 {
    margin: 1rem 0;
    font-size:16px;
    color:#666666;
}

.name {
    font-weight: 700;
    font-size: 12px;
    margin: 0.5rem 0;
}

.position {
    font-size: 12px;
    color: #666666;
    ;
}

.cards.hidden {
    display: none;
}
