.subscribe-section {
    background: url('./assets/photo.png') no-repeat center center/cover;
    color: white;
    padding: 3rem 0;
    height:500px;
    font-family: 'Source Sans Pro', sans-serif;
}

.subscribe-section h1 {
    font-size: 2.5rem; 
    margin-bottom: 2rem;
}

.subscribe-section h2 {
    margin-bottom: 7rem;
    max-width:400px;
    color: #FFFFFFB2;

}

.input-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    background-color: rgba(180, 180, 180, 0.5);
    width:400px;
    border:none;
    padding: 0.7rem;
    color: white;
    font-size: 1rem;
    &::placeholder {
        color: white;
    }
}

.subscribe-section button {
    background-color: rgb(103, 193, 223);
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: #0099cc; 
    }
}